<h2>Записаться</h2>
<p>На этой странице вы можете записаться к нам в барбершоп</p>

<form action="/visit" method="POST">

  <select class="form-control" name="master" value=<%=@master%>>
    <option <%= 'selected' if @master == 'Walter White<'%>>Walter White</option>
    <option <%= 'selected' if @master == 'Jassie'%>>Jassie</option>
    <option <%= 'selected' if @master == 'Gus'%>>Gus</option>  
  </select>

  <div class="form-group">
    <label >Ваше имя</label>
    <input name="user_name" type="text" class="form-control" placeholder="Введите ваше имя" value=<%=@customer_name%>>
  </div>

  <div class="form-group">
    <label >Телефон</label>
    <input name="phone" type="phone" class="form-control" placeholder="Введите ваш телефон" value=<%=@phone%>>
  </div>

  <div class="form-group">
    <label >Время записи</label>
    <input name="date_time" type="text" class="form-control" placeholder="Введите дату и время" value=<%=@date_time%>>
  </div>
  <div>
  <label>Цвет краски</label>
    <select id="color" name="color">
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
  </div><br/>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script>
  // $('#color').simplecolorpicker();
  $(() => {
    $('#color').simplecolorpicker();
  })

//   $('select[name="colorpicker"]').simplecolorpicker({
//   picker: true
// }).on('change', function() {
//   $(document.body).css('background-color', $('select[name="colorpicker"]').val());
// });

</script>